@import url('https://fonts.googleapis.com/css2?family=Jersey+15&display=swap');


body {
  min-height: 100vh;
  background: linear-gradient(180deg, #2d3d5b 0%, #080d17 100%);
  background-attachment: fixed;
}
