@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');



@theme {
    --color-fundo: #212C42;
    --color-rosa: #E64EEB;
    --color-branco: #ffffff;
    --color-cinza: #3C4860;

    --font-jost: "Jost", sans-serif;
}